<div id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
<a href="http://www.homeadvisor.com/biz/scottbowerman/">
          <img 
           src="http://www.homeadvisor.com/images/smpros/soap-download/soap-badge.png" 
           alt="Scott Bowerman Reviews" style="border:none;">
       </a>
            </div>
            <div class="span3">
        <a href="http://www.angieslist.com/companylist/?cid=badge">
            <img src="http://reviews.angieslist.com/webbadges/sp/wb_small_green_cap.aspx" 
            alt="Read Unbiased Consumer Reviews Online at AngiesList.com" width="133" 
            border="0"/>
        </a>
            </div>
            <div class="span3">
            </div>
            <div class="span3">
            </div>
        
       </div>
    </div>
</div>
