---
layout: navigation
---
<!-- Twitter Bootstrap Carousel -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/img/carousel_img/img-1.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>SHB Landscape<h1>
                    <p class="lead">
                    A top-tier lawn care company in the greater Baltimore area.
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/carousel_img/img-2.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Quality Service</h1>
                    <p class="lead">
                    We take pride in providing some of the best lawn care in the
                    area. We work with our clients to provide them with the ideal
                    lawn and gardening services.
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/carousel_img/img-3.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Years of Experience</h1>
                    <p class="lead">
                    Our team has extensive experience in lawn care. We use this 
                    experience to provide the best general lawn care and advanced 
                    landscaping services.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->
{{ content }}

